.example-card {
    max-width: 400px;
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

/** 
* Imports and plugins 
*/
// @use postcss-custom-media;
// @use postcss-nested;
// @use postcss-simple-vars;
@import url('https://fonts.googleapis.com/css?family=Eczar:400,700|Gentium+Basic');

/** 
* Base 
*/

html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    font-family: Eczar, sans-serif;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Eczar, sans-serif;
}

h2 {
    font-family: Eczar, sans-serif;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: -0.45px;
    line-height: 34.5px;
    margin: 56px 0 24px -1.883px;
    padding: 0;
    text-align: left;
}

p {
    font-family: Gentium Basic, serif;
    font-size: 21px;
    letter-spacing: -0.03px;
    line-height: 1.58;
    margin-top: 21px;
}

a {
    color: #a52a2a;
    text-decoration: none;

    &:hover {
        font-weight: bold;
    }
}

.footer {
    background-color: #d0bcab;
    color: #ffffff;
    padding: 24px;
}

.section {
    margin: 0 auto;
    max-width: 650px;
    padding: 0 24px;

    &__text {

        &::first-letter {
            font-size: 32px;
        }
    }
}

/** 
* Utils 
*/

.group {
    overflow: hidden;
}

.pull {
    float: left;
}

.push {
    float: right;
}

.container {
    display: block;
    height: 100vh;
    position: relative;
    width: 100%;
}

.hero {
    display: block;
    height: 100vh;
    position: relative;
    width: 100%;

    &__image {
        background-attachment: fixed;

        background-image: url('https://res.cloudinary.com/mihael/image/upload/v1548409393/codepen/hero.jpg');
        background-repeat: no-repeat;
        background-size: cover;

        clip: rect(0, auto, auto, 0);
        height: 100vh;
        position: absolute;

        width: 100%;

        &--overlay {
            background: linear-gradient(to bottom,
            rgba(121, 85, 72, 0) 0%,
            rgba(121, 85, 72, 0.17) 21%,
            rgba(121, 85, 72, 0.5) 80%);
            bottom: 0;
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
            z-index: 1;
        }
    }

    &__child {
        backface-visibility: hidden;

        background-repeat: no-repeat;
        opacity: 0.8;
        position: fixed;

        &--primary {
            background-image: url('https://res.cloudinary.com/mihael/image/upload/v1548409393/codepen/cloud-2.png');
            height: 1621px;
            left: 50px;
            top: -120px;

            width: 819px;
        }

        &--secondary {
            background-image: url('https://res.cloudinary.com/mihael/image/upload/v1548409392/codepen/cloud-1.png');

            background-size: 300px auto;
            height: 500px;
            right: 50px;
            top: 0;

            width: 300px;
        }
    }

    &__title {
        bottom: 18vh;

        color: #ffffff;

        font-family: Eczar, sans-serif;

        font-size: calc(6px * 10);
        font-weight: 200;
        left: 24vw;
        line-height: calc(6px * 12);

        opacity: 0;
        position: absolute;
        right: 24vw;

        text-align: center;
        z-index: 1;

        @media screen and (min-width: 768px) {
            bottom: 15vh;
            font-size: calc(6px * 16);
            line-height: calc(6px * 18);
        }
    }

    &__subtitle {
        bottom: 15vh;

        color: #ffffff;

        font-family: Gentium Basic, serif;
        font-size: 24px;
        left: 24vw;
        line-height: 32px;
        position: absolute;
        right: 24vw;
        text-align: center;
    }
}

/**
* Animation 
*/

.animation {

    &--floating {
        animation-duration: 200000ms;
        animation-iteration-count: infinite;
        animation-name: floating;
    }

    &--title-in {
        animation: title-in 800ms forwards ease-in-out 750ms;
    }

    &--from-top {
        animation: from-top 350ms forwards cubic-bezier(0.65, 0.05, 0.36, 1);
    }

    &--from-bottom {
        animation: from-bottom 350ms forwards cubic-bezier(0.65, 0.05, 0.36, 1);
    }
}

/**
* Keyframes for specific animation
*/
@keyframes floating {

    0% {
        transform: translateY(0%);
    }

    50% {
        transform: translateY(50%);
    }

    100% {
        transform: translateY(0%);
    }
}

@keyframes title-in {

    0% {
        opacity: 0;
        transform: translateY(-25%);
        visibility: hidden;
    }

    100% {
        opacity: 1;
        transform: translateY(0);
        visibility: visible;
    }
}
@keyframes from-top {

    0% {
        opacity: 0;
        transform: translateY(-30%);
        visibility: hidden;
    }

    100% {
        opacity: 1;
        transform: translateY(0);
        visibility: visible;
    }
}
@keyframes from-bottom {

    0% {
        opacity: 0;
        transform: translateY(15%);
        visibility: hidden;
    }

    100% {
        opacity: 1;
        transform: translateY(0);
        visibility: visible;
    }
}
